<% if !user_session %>
<h1>Welcome to Instagram</h1>
<h2>Please Sign Up or Log In to see posts</h2>
  <div>
    <%= link_to new_user_registration_path do %>
      Sign Up
    <% end %>
  </div>
  <br>
  <div>
    <%= link_to user_session_path do %>
      Log In
    <% end %>
  </div>
  <% else %>

  <div>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
<% end %>
